<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Tipo pessoa</th>
      <th scope="col">Documento</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <th scope="row"><%= pessoa.nome %></th>
        <td><%= pessoa.tipo_pessoa %></td>
        <td><%= pessoa.documento %></td>
        <td><a href="pessoas/show"> <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">people</i></a></td>
        <td><%= link_to 'Editar', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Deletar', pessoa, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a type="button" class="btn btn-primary" href="pessoas/new">Nova Pessoa</a>
